@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="title">Интервјуа и медиумски појавувања</h1>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
    <style>

        body {
            padding: 0px;
            background: #ffe066;
            position: relative;
        }

        #title {
            text-align: center;
        }

        .cardi {
            float: left;
            margin: 1rem;
            position: relative;
        }

        .cardContainer {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
        }

        .med {
            background-color: white;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="google-site-verification" content="GOxzfnJKFWOyXgrqCG4w_Sp3y578Lvy4C89H6Oa0fUM" />
    <meta name="Description" content="Имаш ли и ти твоја приказна?">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131319557-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-131319557-1');
    </script>

</head>
<body>
    <!---
      <div class="mdl-card mdl-shadow--16dp cardi">
          <div class="mdl-card__media med">
              <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Faleksandarlazovskii%2Fposts%2F10214460009480763&width=500" width="750" height="581" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
          </div>   Figure out how to make this work on FB
      </div> -->
    <div class="cardContainer">
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">North Macedonia&#39;s global <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> winners show <a href="https://twitter.com/hashtag/youth?src=hash&amp;ref_src=twsrc%5Etfw">#youth</a> <a href="https://twitter.com/hashtag/innovation?src=hash&amp;ref_src=twsrc%5Etfw">#innovation</a>, <a href="https://twitter.com/hashtag/collaboration?src=hash&amp;ref_src=twsrc%5Etfw">#collaboration</a>  &amp; <a href="https://twitter.com/hashtag/creativity?src=hash&amp;ref_src=twsrc%5Etfw">#creativity</a> can address even the most complex issues. Lets create <a href="https://twitter.com/hashtag/YouthEngagement?src=hash&amp;ref_src=twsrc%5Etfw">#YouthEngagement</a> opportunities for all young people in our society to help them build a better tomorrow.🇲🇰<a href="https://twitter.com/hashtag/ForEveryChild?src=hash&amp;ref_src=twsrc%5Etfw">#ForEveryChild</a> <a href="https://t.co/7eTK469iQn">pic.twitter.com/7eTK469iQn</a></p>&mdash; Benjamin Perks (BenjaminPerks) <a href="https://twitter.com/BenjaminPerks/status/1118425122136829952?ref_src=twsrc%5Etfw">April 17, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">AndroMeda Speakout is youth team from North Macedonia developing a peer support initiative to tackle bullying. They are the winners of the <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> Youth Challenge. Congratulations! <a href="https://twitter.com/_GenUnlimited?ref_src=twsrc%5Etfw">_GenUnlimited</a> / <a href="https://t.co/VoqN3oJXsQ">https://t.co/VoqN3oJXsQ</a> <a href="https://t.co/APNvx671AH">pic.twitter.com/APNvx671AH</a></p>&mdash; Tanya Accone (Accone) <a href="https://twitter.com/Accone/status/1118163392932524033?ref_src=twsrc%5Etfw">April 16, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="bg" dir="ltr">&quot;Направивме одлична работа во промовирање на апликацијата. Ми беше малку срам на почетокот кога требаше да делиме флаери и да зборуваме со луѓе, но подоцна станавме подобри и беше забавно”, вели Амра<a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> global 🌍 <a href="https://twitter.com/hashtag/Winners?src=hash&amp;ref_src=twsrc%5Etfw">#Winners</a> <a href="https://t.co/7Nzl9Ql9iw">https://t.co/7Nzl9Ql9iw</a> <a href="https://t.co/FVaBVg88T1">pic.twitter.com/FVaBVg88T1</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1118109300717649926?ref_src=twsrc%5Etfw">April 16, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">“It is incredible. I am speechless,” says Matej, 16, a global winner of the <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> Youth Challenge. His team AndroMeta created a new app to help victims of bullying in North Macedonia access support. Now they’ll receive funds and mentoring to kick-start their plans. <a href="https://t.co/DNOf7PWB1r">pic.twitter.com/DNOf7PWB1r</a></p>&mdash; Generation Unlimited (_GenUnlimited) <a href="https://twitter.com/_GenUnlimited/status/1117855256493416448?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">СО МОБИЛНА АПЛИКАЦИЈА ЗА ПОМОШ НА ЖРТВИ НА ВРСНИЧКО НАСИЛСТВО МАКЕДОНСКИ ТИНЕЈЏЕРИ ПОБЕДИЈА НА СВЕТСКИОТ КОНКУРС НА УНИЦЕФ - Сакам Да Кажам <a href="https://t.co/N5tGl8tdmM">https://t.co/N5tGl8tdmM</a></p>&mdash; Benjamin Perks (BenjaminPerks) <a href="https://twitter.com/BenjaminPerks/status/1117844360068988929?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">Горди сме што имаме непроценлив потенцијал кај младите луѓе во Република Северна Македонија. Мобилната апликација Speak Out за ставање крај на врсничкото насилство на тимот АндроМета стана препознатлива на глобално ниво. <a href="https://t.co/6YDZ7OKwCN">pic.twitter.com/6YDZ7OKwCN</a></p>&mdash; Mila Carovska (mila_carovska) <a href="https://twitter.com/mila_carovska/status/1117750396028686336?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">“Верувам дека секој млад човек може да направи разлика во неговата заедница, ако навистина го посакува тоа, зашто со посветеност и истрајност, сè може да се постигне”,вели <a href="https://twitter.com/MatejMecka?ref_src=twsrc%5Etfw">MatejMecka</a> или &quot;генијалниот програмер&quot; од АндроМета <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> global🌍<a href="https://twitter.com/hashtag/Winners?src=hash&amp;ref_src=twsrc%5Etfw">#Winners</a> <a href="https://t.co/I46Hd0icoS">https://t.co/I46Hd0icoS</a> <a href="https://t.co/rigGLuI2o1">pic.twitter.com/rigGLuI2o1</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1117768387227262976?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">Горди сме што имаме непроценлив потенцијал кај младите. Александра, Матеј, Дарио, Данче и Амра, се членови на „АндроМета“, еден од петте тимови избрани на светско ниво за развој на апликацијата SpeakOut за поддршка од врсничко насилство.<br><br>➡️ <a href="https://t.co/rphAogYEB0">https://t.co/rphAogYEB0</a> <a href="https://t.co/kfcyTFvZPc">pic.twitter.com/kfcyTFvZPc</a></p>&mdash; Влада на Р. Северна Македонија (VladaMK) <a href="https://twitter.com/VladaMK/status/1117763077989122049?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">“Чувстуваме дека насилството е сè уште табу во нашата земја и дека младите не се чувствуваат удобно да зборуваат за тоа. Сакавме да си овозможиме безбеден простор за дискусија, прашања и совети”, вели Александра од АндроМета 🇲🇰 <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> 🌍<a href="https://twitter.com/hashtag/Winners?src=hash&amp;ref_src=twsrc%5Etfw">#Winners</a> <a href="https://t.co/I46Hd0icoS">https://t.co/I46Hd0icoS</a> <a href="https://t.co/sfeLRrHK5Z">pic.twitter.com/sfeLRrHK5Z</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1117729752385818624?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">“I strongly believe that any young person can make a difference in their community,  with commitment and persistence, anything can be achieved,” <a href="https://twitter.com/hashtag/MondayMotivation?src=hash&amp;ref_src=twsrc%5Etfw">#MondayMotivation</a> from Matej, winner of the <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a>  🌍 youth challenge → <a href="https://t.co/1QVzoM7V59">https://t.co/1QVzoM7V59</a> <a href="https://t.co/6EIS7dW8Km">pic.twitter.com/6EIS7dW8Km</a></p>&mdash; UNICEF Europe C.Asia (UNICEF_ECA) <a href="https://twitter.com/UNICEF_ECA/status/1117735597727264769?ref_src=twsrc%5Etfw">April 15, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Creative.<br>Compassionate.<br>Determined.<br>Macedonian 🇲🇰 teens have what it takes to change the world 🌎 <br><br>See for yourself. 🎥 <a href="https://t.co/p90dFO0ifQ">https://t.co/p90dFO0ifQ</a> <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> <a href="https://twitter.com/hashtag/YouthChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#YouthChallenge</a> <a href="https://t.co/XpzpUpJ6gg">pic.twitter.com/XpzpUpJ6gg</a></p>&mdash; Suzie Pappas (PappasSuzie) <a href="https://twitter.com/PappasSuzie/status/1117014105976639488?ref_src=twsrc%5Etfw">April 13, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="bg" dir="ltr">„Невероятно е, нямам думи“ – 16-годишният Матей е сред глобалните победители в Младежкото предизвикателство <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a>. Екипът му „АндроМета“ разработва мобилно приложение, което помага на жертвите на тормоз в Северна Македония да се подкрепят. <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> <a href="https://t.co/fFD8CSwwqO">pic.twitter.com/fFD8CSwwqO</a></p>&mdash; UNICEF Bulgaria (UnicefBulgaria) <a href="https://twitter.com/UnicefBulgaria/status/1116959278991122437?ref_src=twsrc%5Etfw">April 13, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Yesterday in New York a team of Skopje teenagers received $ 20,000 to develop an App to fight <a href="https://twitter.com/hashtag/ViolenceAgainstChildren?src=hash&amp;ref_src=twsrc%5Etfw">#ViolenceAgainstChildren</a> in <a href="https://twitter.com/hashtag/NorthMacedonia?src=hash&amp;ref_src=twsrc%5Etfw">#NorthMacedonia</a> .The initial prototype was built with just $1000. It shows we have fabulous young people here &amp; the potential for an amazing future.🇲🇰 <a href="https://t.co/KTAIUxWkrO">pic.twitter.com/KTAIUxWkrO</a></p>&mdash; Benjamin Perks (BenjaminPerks) <a href="https://twitter.com/BenjaminPerks/status/1116965144414887939?ref_src=twsrc%5Etfw">April 13, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="bg" dir="ltr">Креативни.<br>Сочувствителни.<br>Одлучни.<br>Овие млади луѓе имаат се што е потребно за да го променат светот. Погледнете. <a href="https://t.co/Ihm1qy03a3">https://t.co/Ihm1qy03a3</a> <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> <a href="https://twitter.com/hashtag/YouthChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#YouthChallenge</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1116748136364552194?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">Запознајте се со пет паметни тинејџери од Северна Македонија кои стојат зад иновацијата која доби стручно менторство од партнерите на Generation Unlimited и 20.000 $ почетни средства за проширување на својата иницијатива.  <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> <a href="https://twitter.com/hashtag/ENDviolence?src=hash&amp;ref_src=twsrc%5Etfw">#ENDviolence</a>  <a href="https://t.co/Ghat87EltE">https://t.co/Ghat87EltE</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1116733061339734017?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you are looking for <a href="https://twitter.com/hashtag/FridayMotivation?src=hash&amp;ref_src=twsrc%5Etfw">#FridayMotivation</a> check out the winners of the <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> <a href="https://twitter.com/hashtag/YouthChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#YouthChallenge</a>. 5 teams, 5 ideas, 5 different countries - all looking to create change in their communities and the world 🌍🙌🌟🚀 <a href="https://t.co/ks12LHjOCO">https://t.co/ks12LHjOCO</a></p>&mdash; Katherine Crisp (KatCrisp1) <a href="https://twitter.com/KatCrisp1/status/1116735450503417863?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">“Ова е неверојатно. Немам зборови,” вели 16-годишниот Матеј од тимот АндроМета што победи на глобалниот младински предизвик <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a>. Неговиот тим ќе добие пари и менторство за да ја развијат и прошират иницијативата - aпликацијата SpeakOut. <a href="https://twitter.com/ngosmartup?ref_src=twsrc%5Etfw">ngosmartup</a> <a href="https://twitter.com/VladaMK?ref_src=twsrc%5Etfw">VladaMK</a> <a href="https://twitter.com/InFondMK?ref_src=twsrc%5Etfw">InFondMK</a> <a href="https://t.co/6WDdaZPRIA">pic.twitter.com/6WDdaZPRIA</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1116725271955161089?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="uk" dir="ltr">Дечки браво!!! <a href="https://t.co/Fd8zmgLl8h">https://t.co/Fd8zmgLl8h</a></p>&mdash; Владислав &#39;баба ванѓа&#39; Бидиков (bidikov) <a href="https://twitter.com/bidikov/status/1116723964741550084?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="ru" dir="ltr">Честитки 😊 <a href="https://t.co/4sDQHjRebO">https://t.co/4sDQHjRebO</a></p>&mdash; Радио МОФ (RadioMOF) <a href="https://twitter.com/RadioMOF/status/1116724931050471429?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">“It is incredible. I am speechless,” says Matej, 16, a global winner of the <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> Youth Challenge. <br>His team AndroMeta created a new app to help victims of bullying in <a href="https://twitter.com/hashtag/NorthMacedonia?src=hash&amp;ref_src=twsrc%5Etfw">#NorthMacedonia</a> access support. Now they’ll receive funds and mentorship to kick-start their plans.</p>&mdash; UNICEF Europe C.Asia (UNICEF_ECA) <a href="https://twitter.com/UNICEF_ECA/status/1116723503057838081?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Way to go team AndroMeta! ✌️✌️✌️ <a href="https://t.co/oFsxP5fXcw">https://t.co/oFsxP5fXcw</a></p>&mdash; UNICEF Europe C.Asia (UNICEF_ECA) <a href="https://twitter.com/UNICEF_ECA/status/1116714927518101504?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="sr" dir="ltr">Мислам дека ќе си пукнам од среќа и од гордост и од љубов и од се&#39;! Еден од нашите <a href="https://twitter.com/hashtag/GenU?src=hash&amp;ref_src=twsrc%5Etfw">#GenU</a> тимови е меѓу 5те глобални победници на првиот младински предизвик. Алал да им е, стварно имаме златни деца 💗Да си ја спуштите апликацијата SpeakOut! <a href="https://t.co/PfwuGYQ4ZB">https://t.co/PfwuGYQ4ZB</a></p>&mdash; Simona Ristoska (RistoskaSimona) <a href="https://twitter.com/RistoskaSimona/status/1116717116823093251?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="bg" dir="ltr">Ви текнува на ова? <br><br>Епа сега се петти по ред на светско ниво 💪💪<br><br>Повеќе на: <a href="https://t.co/2WKAws4vKh">https://t.co/2WKAws4vKh</a> <a href="https://t.co/mV4YTdhVNG">https://t.co/mV4YTdhVNG</a></p>&mdash; Александра (filipova_a) <a href="https://twitter.com/filipova_a/status/1116723413823971328?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I promised some big news. <a href="https://twitter.com/hashtag/NorthMacedonia?src=hash&amp;ref_src=twsrc%5Etfw">#NorthMacedonia</a> youth crew Andrometa wins global recognition at UN in New York for  <a href="https://twitter.com/hashtag/innovation?src=hash&amp;ref_src=twsrc%5Etfw">#innovation</a> to <a href="https://twitter.com/hashtag/ENDViolence?src=hash&amp;ref_src=twsrc%5Etfw">#ENDViolence</a> against children <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> global 🌍 <a href="https://twitter.com/hashtag/Winners?src=hash&amp;ref_src=twsrc%5Etfw">#Winners</a> <a href="https://twitter.com/hashtag/SuperProud?src=hash&amp;ref_src=twsrc%5Etfw">#SuperProud</a> 🇲🇰<a href="https://twitter.com/hashtag/Character?src=hash&amp;ref_src=twsrc%5Etfw">#Character</a> <a href="https://twitter.com/hashtag/AdverseChildhoodExperiences?src=hash&amp;ref_src=twsrc%5Etfw">#AdverseChildhoodExperiences</a> <a href="https://twitter.com/hashtag/bullying?src=hash&amp;ref_src=twsrc%5Etfw">#bullying</a> <a href="https://t.co/BZSBwhhiRy">https://t.co/BZSBwhhiRy</a> <a href="https://t.co/EOyauCabHk">pic.twitter.com/EOyauCabHk</a></p>&mdash; Benjamin Perks (BenjaminPerks) <a href="https://twitter.com/BenjaminPerks/status/1116720252765777921?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Excited to be working with <a href="https://twitter.com/UNICEFMK?ref_src=twsrc%5Etfw">UNICEFMK</a> and Team AndroMeta to take their ideas on tackling bullying to the next level. <a href="https://twitter.com/hashtag/ENDviolence?src=hash&amp;ref_src=twsrc%5Etfw">#ENDviolence</a> <a href="https://twitter.com/hashtag/youth?src=hash&amp;ref_src=twsrc%5Etfw">#youth</a> <a href="https://twitter.com/hashtag/innovation?src=hash&amp;ref_src=twsrc%5Etfw">#innovation</a> <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> <a href="https://twitter.com/hashtag/YouthChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#YouthChallenge</a>  👏🙌🌟 <a href="https://t.co/N1cGlqxr0I">https://t.co/N1cGlqxr0I</a></p>&mdash; Katherine Crisp (KatCrisp1) <a href="https://twitter.com/KatCrisp1/status/1116710595728953345?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">AMAZING NEWS - Teenagers from North Macedonia win global recognition for innovation to <a href="https://twitter.com/hashtag/ENDViolence?src=hash&amp;ref_src=twsrc%5Etfw">#ENDViolence</a>. <a href="https://t.co/I46Hd0icoS">https://t.co/I46Hd0icoS</a> <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> global 🌍 <a href="https://twitter.com/hashtag/Winners?src=hash&amp;ref_src=twsrc%5Etfw">#Winners</a> <a href="https://twitter.com/hashtag/SuperProud?src=hash&amp;ref_src=twsrc%5Etfw">#SuperProud</a> 🇲🇰 <a href="https://t.co/i9YK33d5X1">pic.twitter.com/i9YK33d5X1</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1116709698420531201?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">These inspiring young innovators will give you hope for the future. Meet the five global winners of the <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> Youth Challenge! <a href="https://t.co/vwaYmKPnAP">https://t.co/vwaYmKPnAP</a> <a href="https://twitter.com/_GenUnlimited?ref_src=twsrc%5Etfw">_GenUnlimited</a> <a href="https://twitter.com/eu_eeas?ref_src=twsrc%5Etfw">eu_eeas</a> <a href="https://twitter.com/FedericaMog?ref_src=twsrc%5Etfw">FedericaMog</a> <a href="https://t.co/1xjlruFuHH">pic.twitter.com/1xjlruFuHH</a></p>&mdash; UNICEF Office for Relations with EU Institutions (UNICEF_EU) <a href="https://twitter.com/UNICEF_EU/status/1116679938684477441?ref_src=twsrc%5Etfw">April 12, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__media med">
                <blockquote class="twitter-tweet" data-lang="en"><p lang="bg" dir="ltr">Tимот АндроМета e избран за глобалниот младински предизвик <a href="https://twitter.com/hashtag/GenUnlimited?src=hash&amp;ref_src=twsrc%5Etfw">#GenUnlimited</a> за нивното иновативно решение за <a href="https://twitter.com/hashtag/%D0%9A%D1%80%D0%B0%D1%98%D0%9D%D0%B0%D0%9D%D0%B0%D1%81%D0%B8%D0%BB%D1%81%D1%82%D0%B2%D0%BE%D1%82%D0%BE?src=hash&amp;ref_src=twsrc%5Etfw">#КрајНаНасилството</a>, мобилната апликација SpeakOutApp! Погледнете и споделете. <a href="https://t.co/Ihm1qy03a3">https://t.co/Ihm1qy03a3</a> <a href="https://twitter.com/hashtag/YouthChallenge?src=hash&amp;ref_src=twsrc%5Etfw">#YouthChallenge</a> <a href="https://twitter.com/hashtag/ENDviolence?src=hash&amp;ref_src=twsrc%5Etfw">#ENDviolence</a> <a href="https://twitter.com/ngosmartup?ref_src=twsrc%5Etfw">ngosmartup</a></p>&mdash; UNICEF MK (UNICEFMK) <a href="https://twitter.com/UNICEFMK/status/1110847940195692544?ref_src=twsrc%5Etfw">March 27, 2019</a></blockquote>
            </div>
        </div>
        <div class="mdl-card mdl-shadow--16dp cardi">
            <div class="mdl-card__title">
                <h4>SpeakOut на 24 Вести</h4>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2z2myWFma5Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="mdl-card__supporting-text">
                27.02.2019
            </div>
        </div>
    </div>
</body>
</html>


